<h1 class="text-center">Información del Gato</h1><br>

<div class="card w-50 mx-auto text-center">
    <img src="{{UnGato.img}}" class="card-img-top" alt="{{UnGato.nombre}}">
    <div class="card-body border-top border-black bgDanger">
      <h5 class="card-title fw-bold text-white">Gato {{UnGato.nombre}}</h5>
      <h6 class="card-text text-white">{{UnGato.info}}</h6>
    </div>
</div><br>

<div class="text-center">
    <button class="btnPrimary" type="button" (click)="regresar()" >Regresar</button>
</div>
